body {
    padding: 0;
    margin: 0;
}

.canvas {
	width: 75%;
	margin: 0;
	padding:15px 55px;
	background-color: #FFF;
	}

ul {
	list-style: none; 
	margin:10px 0 5px 0;
	padding: 0;
	}

nav ul li {
    display: block;
    margin: 0;
    font-size: .8em;
}


li {
	font-size: 1rem;
	line-height: 1.8rem;
	font-family: helvetica, arial, sans-serif;
}

li a {
	text-decoration: none;
	color: #444;
}

@media all and (min-width: 699px) {

	body {
	    background-color: #DDD;
	}
	
	.canvas {
		width:80%;
		margin: 20px auto;
		box-shadow: 0 0 20px #AAA;
		}
	
	.sites li {
		width: 45%;
		height: 2rem;
		position: relative;
		background-color: #F4F4F4;
		margin: 2px 3% 2px 0;
		padding: 0;
		float: left;
	}
	
	nav ul li {
	    display: inline;
	    margin: 5px 5px 5px 0;
	    padding: 4px 12px;
		background-color: #EEE;
		border-radius: 2px;
	}



}

ul.project-listing {
	display: flex;
}
.project-listing li {
	border-bottom: 1px #aaa dashed;
	margin-bottom: 3px;
	background-color: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

a:hover {
	color: blue;

}

img.icon {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}